body {
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.transparent-bg  {
  background: transparent;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  align-items: center;
  margin-top: 50%;
}

.root-layer {
  color: #FFF;
}

.padding-40 {
  padding: 40px;
}

.black-bg-transparent {
  background: rgba(0, 0, 0, 0.3);
}

.board-layer {
  background-color: transparent;
}

.card-layer {
  color: #FFF;
}

.status {
  border-radius: 999px;
  background-image: url("../images/black/ic_sentiment_very_satisfied_black_48dp_2x");
  transition: all .5s ease-in-out;
  width: 96px;
  height: 96px;
}

.status.very-dissatisfied {
  background: url("../images/black/ic_sentiment_very_dissatisfied_black_48dp_2x.png") center center no-repeat red;
}

.status.dissatisfied {
  background: url("../images/black/ic_sentiment_dissatisfied_black_48dp_2x.png") center center no-repeat orange;
}

.status.satisfied {
  background: url("../images/black/ic_sentiment_satisfied_black_48dp_2x.png") center center no-repeat yellow;
}

.status.very-satisfied {
  background: url("../images/black/ic_sentiment_very_satisfied_black_48dp_2x.png") center center no-repeat green;
}

.animate-enter,
.animate-leave {
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  width: 150px;
  height: 30px;
}

.my-custom-stars .button .material-icons {
  font-size: 25px; 
}

.my-custom-stars .star-button.star-on .material-icons {
  color: #003399; 
}

.my-custom-stars .star-button.star-off .material-icons {
  color: #99ccff; 
}