<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Tweet's Hashtag Sentiment</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width" initial-scale="1.0">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
  <link rel="stylesheet" href="bower_components/angular-jk-rating-stars/dist/jk-rating-stars.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="twitterSentimentApp" ng-controller="MainCtrl" ng-cloak>
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <main>    
    <div class="container-fluid root-layer">
      
      <div class="black-bg-transparent">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 padding-40">
            <ui-select ng-model="person.selected" on-select="selectHashTag($item, $model)" title="Choose a hashtag">
              <ui-select-match placeholder="Select or search a hashtag in the list...">Hashtag {{$select.selected}} added to the queue </ui-select-match>
              <ui-select-choices repeat="item in hashTags | filter: $select.search">
                <div ng-bind-html="item | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="board-layer">
          <div class="col-xs-12">
            <div class="row">
              <div height="250" ng-animate="'animate'" width="250" ng-repeat="hashtag in selectedHashTags" ng-include="'views/hashtag.html'"
                ng-controller="HashtagCtrl" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    ! function (A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
          (A[l].q = A[l].q || []).push(arguments)
        }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');

  </script>

    <script src="scripts/env/env.js"></script>

    <!-- build:js(.) scripts/vendor.js -->
    <script src="bower_components/socket.io-client/dist/socket.io.js"></script>
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-jk-rating-stars/dist/jk-rating-stars.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/hashtag.js"></script>
  <script src="scripts/services/socket.js"></script>
  <!-- endbuild -->
</body>

</html>
