<div class="col-sm-6 col-md-4">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ hashtagname }}</span>
        <span class="md-subhead">At {{hashtagts | date:'medium'}}</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media status" ng-class="{'very-satisfied': hashtagscore >= 8,
                    'satisfied': hashtagscore >= 5 && hashtagscore < 8,
                    'dissatisfied': hashtagscore >= 2 && hashtagscore < 5,
                    'very-dissatisfied': hashtagscore >= 0 && hashtagscore < 2}"></div>
      </md-card-title-media>
    </md-card-title>
    <jk-rating-stars class="my-custom-stars" max-rating="10" rating="hashtagscore" read-only="true">
    </jk-rating-stars>
  </md-card>
</div>